<meta property="og:image" content="/images/avatar.jpg">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3109575835093592"
     crossorigin="anonymous"></script>